Language:        Cpp
BasedOnStyle:    llvm
IndentWidth:     4
AccessModifierOffset: -4
UseTab:          Never
TabWidth:        4
BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortCaseLabelsOnASingleLine: false
AlwaysBreakTemplateDeclarations: true
AlwaysBreakAfterReturnType: TopLevel
AlignTrailingComments: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: true
ColumnLimit:     100
MaxEmptyLinesToKeep: 2
SpacesBeforeTrailingComments: 2
NamespaceEndComments: true